body{
    background-color: #083B4C;
}

/* 
                    HEADER
*/

.title{
    font-size: 70px;
}

/* 
                    MAIN
*/

.square{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-container{
    width: 50%;
}

.my-bg-standard{
    background-color: #1389B2;
}

.my-bg-fizz{
    background-color: #0CD6A1;
}

.my-bg-buzz{
    background-color: #FFD166;
}

.my-bg-fizzbuzz{
    background-color: #F0466F;
}

/* 
                    FOOTER
*/




